@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&family=Roboto&display=swap');

html{
	width: 100%;
	margin: 0;
	padding: 0;
}
body{
	margin: 0 auto;
	padding: 0;
	width: 100%;
	font-family: 'Open Sans', sans-serif;
}
a{
	color: #fff;
	text-decoration: none;
}
a:hover{
	color: #cd6326;
	fill: #cd6326 !important;
}
input{
	font-family: 'Open Sans', sans-serif;
}
img{
	max-width: 100%;
	border: 0 none;
}
.hidden{
	display: none;
}
.clearfix{
	overflow: hidden;
}
section{
	padding: 0 40px;
	max-width: 1360px;
	margin: 0 auto;
}
.section_wrap{
	max-width: 1200px;
	margin: 0 auto;
}
.first_section{
	background: url(assets/first_section_bg.svg) no-repeat center top;
	height: 100vh;
	max-height: 780px;
	min-height: 650px;
}
header{
	display: flex;
	justify-content: space-between;
	padding: 20px 0 0 0;
	margin-bottom: 120px;
}
.logo{
	color: #F7F7F7;
	margin-right: 0px;
	display: block;
}
.logo_img, .logo_text{
	display: inline-block;
	vertical-align: middle;
}
.logo_img{
	width: 70px;
	height: 60px;
}
a:hover .svg_icon path{
	fill: #cd6326 !important;
}
.logo_text{
	font-weight: bold;
	font-size: 32px;
	text-transform: uppercase;
	margin-left: 12px;
}

.menu{
	display: flex;
	list-style: none;
	margin: 0;
	padding-left: 0;
	height: 60px;
}
.menu_item{
	font-size: 23px;
	line-height: 60px;
	margin-left: 64px;
}
.menu_item:first-child{
	margin-left: 0px;
}
.menu_item_link{
	display: block;
}
.find_img{
	margin-top: 19px;
}

h1{
	font-weight: 600;
	font-size: 48px;
	line-height: 72px;
	color: #CD6326;
	margin: 0 0 50px 0;
}
h2{
	font-weight: normal;
	font-size: 48px;
	line-height: 72px;
	color: #333333;
	margin: 0 0 20px 0;
}
.sub_h2{
	font-size: 24px;
	line-height: 36px;
	color: #666666;
	margin: 0 0 24px 0;
}
h3{
	font-weight: normal;
	font-size: 27px;
	line-height: 40px;
	color: #333333;
	margin: 0 0 58px 0;
}
h4{
	margin: 0 0 10px 0;
	height: 36px;
	font-weight: normal;
	font-size: 22px;
	line-height: 36px;
}
p{
	font-size: 18px;
	line-height: 27px;
	font-weight: 300;
}

.btns{
	display: inline-block;
	vertical-align: top;
	border: 2px solid #CD6326;
	border-radius: 5px;
	box-sizing: border-box;
	padding: 0 10px;
	min-width: 120px;
	height: 50px;
	font-size: 23px;
	font-weight: normal;
	line-height: normal;
	cursor: pointer;
	outline: none;
}
.btns_border{
	background-color: transparent;
	color: #333333;
}
.btns_border:hover{
	background-color: #CD6326;
	color: #F7F7F7;
}
.btns_fill{
	background-color: #CD6326;
	color: #F7F7F7;
}
.btns_fill:hover{
	border-color: #E39128;
	background-color: #E39128;
}
.btns_border:active, .btns_fill:active{
	border-color: #8F5613;
	background-color: #8F5613;
}

.btns_sign{
	color: #F7F7F7;
	margin-top: 5px;
}
.btns_donate{
	width: 160px;
}
.donate{
	color: #F7F7F7;
	width: 278px;
	text-align: justify;
}
.donate p{
	margin-bottom: 50px;
}


.articles{
	background-color: #CCCCCC;
	padding-top: 120px;
	padding-bottom: 240px;
	text-align: center;
}

.articles_slider{
	padding-top: 96px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	
	margin-bottom: 238px;
}

.slider_btn{
	width: 26px;
	height: 39px;
	padding: 0;
	cursor: pointer;
	margin: 0;
	border: 0;
	background: none;
}
.slider_btn:hover path{
	fill: #CD6326;
}
.slider_leftbtn{}
.slider_rightbtn{}

.slider_content{
	flex-grow: 1;
	margin: 0 62px;
	
	display: flex;
	justify-content: space-between;
	
	font-size: 0;
}
.articles_item{
	width: 29.296875%;
	position: relative;
	cursor: pointer;
	transition: 1s;
}
.articles_item:hover{
	transform: scale(1.2);
}
.article_content{
	position: absolute;
	padding: 0 10px;
	left: 0;
	right: 0;
	bottom: 13.3333333%;
	color: #F7F7F7;
	text-align: center;
}

.article_title{}
.article_text{
	font-size: 17px;
	line-height: 27px;
	margin: 0;
}

.inputtext{
	background: transparent;
	border: 1px solid #666666;
	border-right: 0 none;
	padding: 0 15px;
	line-height: normal;
	height: 64px;
	border-radius: 0px;
	box-sizing: border-box;
	
	
    font-size: 23px;
}
.inputtext:focus{
	border-color: #CD6326;
}
.inputtext::placeholder{
	color: #666666;
}

.form_notified{
	display: flex;
	max-width: 660px;
	margin: 0 auto;
}

.inputtext_notified{
	flex-grow: 1;
}
.btns_notified{
	border-radius: 0 5px 5px 0;
	height: 64px;
	flex-shrink: 0;
}

.footer{
	background: url("assets/footer.svg") no-repeat center top;
}
footer{
	display: flex;
	justify-content: space-between;
	height: 360px;
	align-items: center;
}
.footer_menu .menu_item{
	margin-left: 98px;
	
}
.footer_menu .menu_item:first-child{
	margin-left: 0;
}

.socials_menu{
	padding: 10px 0;
	height: 40px;
}
.socials_menu .menu_item{
	margin-left: 27px;
	
}
.socials_menu .menu_item:first-child{
	margin-left: 0;
}
.socials_menu .menu_item a{
	width: 40px;
	height: 40px;
	display: block;
	border-radius: 50%;
	background: no-repeat center #F7F7F7;
	transition: 1s;
}
.socials_menu .menu_item a:hover{
	transform: scale(1.2);
}
.socials_menu .menu_item a.facebook{
	background-image: url(assets/facebook.svg);
}
.socials_menu .menu_item a.instagram{
	background-image: url(assets/instagram.svg);
}
.socials_menu .menu_item a.pinterest{
	background-image: url(assets/pintrst.svg)
}
.socials_menu .menu_item a.telegram{
	background-image: url(assets/telegram.svg);
}